<!DOCTYPE html>
<html lang='en'>
<head>
	{% load static %}
	<meta charset='UTF-8'>
	<meta name='viewport' content='width=device-width, initial-scale=1.0'>
	<title> Alerts System </title>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css"> 
	<link rel='stylesheet' href="{% static 'css/proj1.css' %}">
</head>
<body>
	<label>
		<!-- toggle button here -->
		<input type="checkbox">
		<div class="toggle">
			<span class="common top_line"></span>
			<span class="common middle_line"></span>
			<span class="common bottom_line"></span>
		</div>
		<div class="sidebar">
			<h1>Menu</h1>
		<ul class = 'first-ul'>
						<li style="--i:1; font-size:40px;margin-left:45%;margin-top:15.5%;"><a href="#">Nav</a></li>

			<li style="--i:1;margin-top:4%;font-size:30px;margin-left:4.2%;margin-top:35%;"><a href="https://oelkuct-portfolio-85010a89a0a9.herokuapp.com/Home"><i class="fas fa-tv" style = 'font-size:20px;margin-left:20.5%'></i> Home</a></li>

<li style="--i:3;margin-top:4%;font-size:30px;margin-left:24%;"><a href="https://www.meetup.com/sc-code-and-data-science/"><i class="far fa-user"  style = 'font-size:25px;margin-left:-5%;'></i> SC Code</a></li>

			<li style="--i:3;margin-top:4%;font-size:27px;margin-left:24%;"><a href="https://oelkuct-portfolio-85010a89a0a9.herokuapp.com/FSE" ><i class="far fa-heart" style = 'margin-left:-5%;'> </i> Full Stack</a></li>
			<li style="--i:3;margin-top:4%;font-size:27px;margin-left:24%;"><a href="https://oelkuct-portfolio-85010a89a0a9.herokuapp.com/SWE"><i class="far fa-address-book" style = 'margin-left:-5%;'></i> Software</a></li>
			<li style="--i:3;margin-top:4%;font-size:26px;margin-left:24%;"><a href="https://oelkuct-portfolio-85010a89a0a9.herokuapp.com/DS"><i class="far fa-address-book" style = 'margin-left:-5%;'></i> ML + DS</a></li>
		 <li style="--i:3;margin-top:4%;font-size:26px;margin-left:24%;"><a href="https://oelkuct-portfolio-85010a89a0a9.herokuapp.com/WEBDEV"><i class="far fa-address-book" style = 'margin-left:-5%;'></i> Web Dev</a></li>
			<li style="--i:3;margin-top:4%;font-size:27px;margin-left:24%;"><a href="mailto:oelkuctmp@gmail.com"><i class="far fa-comment" style = 'font-size:25px;margin-left:-5%'></i> Email Me</a></li>
			<li style="--i:3;margin-top:4%;font-size:25px;margin-left:24%;"><a href="https://github.com/jake-bioinfo/tld"><i class="far fa-folder" style = 'margin-left:-5%'></i> Publication</a></li>

		</ul class = 'first-ul'>
		</div>
		<center>
										<div class='wrapper'>
			<h2  style = 'width:50%;margin-left:-4.1%;margin-top:4.5%;' class = 'wrapper'>Text Alerts & Monitoring System</h2>

			<div class = 'scroll' style = 'height:100.5%;margin-top:-3%;'>
				<p style="text-align:left; width: 1600px; padding-left:70px;">
					<img src='/static/img/alerts_page.png'  style = 'margin-left:14.5%;width:45%;height:45%;' class='wdn-stretch rounded-corners'/></p>
				<p style="text-align:left; width: 1200px; padding-left:120px;margin-left:20.5%;margin-top:.3%;"><b> SMS Alerts and Programmatic Parameter Monitoring</b> <br> <br> </p>
						     

									<img src='/static/img/background.png'  style = 'margin-top:-3%;width:90.8%;height:52%;z-index:-5;position:absolute;margin-left:7%;'class='wdn-stretch rounded-corners'/>

				<p style = 'text-align:left; width:1000px; margin-left:12%; text-indent:0px;color="white";margin-top:.8%;font-size:20px;'>

Alright so let’s say you’ve built a CNN classification model that predicts if a manufacturing teams’  process parameters are currently running out-of-spec.
					So now our team needs a way to be alerted when an out-of-spec parameter is predicted in order so they can take action.
					</p>
								<p style = 'text-align:left; width:1000px; margin-left:12%; text-indent:0px;color="white";margin-top:1.1%;font-size:20px;'>

					Well, a cost-effective sms API will allow us to send messages with python, and we can use our database to store and access second-to-second predictions. These requirements combined with well-organized classes and methods, made designing an alerts program rather simple.

									</p>
												<p style = 'text-align:left; width:1000px; margin-left:12%; text-indent:0px;color="white";margin-top:1.1%;font-size:20px;'>

									We needed to write something that would collect employee information for those working on the manufacturing team, set toggles so the alerts could only activate during live manufacturing-run, write specific conditions for when alerts trigger based on parameter thresholds, and use the sms api to send warning messages to employees.

																					<p style = 'text-align:left; width:1000px; margin-left:12%; text-indent:0px;color="white";margin-top:1.1%;font-size:20px;'>

				You can see the full code for this project <a href = '#'> here. </a>
				</p>

				</p>
				</br></br></br></br></br></br>
			</center>
			</div>
	</div>






	</label>
	<div class='objects'>
		<ul class='box'>
			<li></li>
		</ul class = box>
		<ul class='box2'>
			<li></li>
		</ul class = box2>
		<ul class='slowbox2'>
			<li></li>
		</ul class = slowbox2>
		<ul class='box4'>
			<li></li>
		</ul class = 'box4'>
	</div>
</body>
</html>

