<!DOCTYPE html>
<html lang='en'>
<head>
{% load static %}

<meta charset='UTF-8'>
<meta name='viewport' content='width=device-width, initial-scale=1.0'>
<title> WebDev </title>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css">
<link rel='stylesheet' href="{% static 'css/newstyleanimate4.css' %}">
</head>
<body>
{% load static %}

<label>
	<!-- toggle button here -->
	<input type="checkbox" style = 'height:3%;width:2%;' checked>
	<div class="toggle" style = 'margin-left:-1%;'>
		<span class="common top_line"></span>
		<span class="common middle_line"></span>
		<span class="common bottom_line"></span>
	</div>
	<div class="sidebar" style = 'width:15%;'>

	<ul class = 'first-ul'>
					<li style="--i:1; font-size:40px;margin-left:45%;margin-top:15.5%;"><a href="#">Nav</a></li>

			<li style="--i:1;margin-top:4%;font-size:30px;margin-left:4.2%;margin-top:35%;"><a href="https://oelkuct-portfolio-85010a89a0a9.herokuapp.com/Home"><i class="fas fa-tv" style = 'font-size:20px;margin-left:20.5%'></i> Home</a></li>

			<<li style="--i:3;margin-top:4%;font-size:30px;margin-left:24%;"><a href="https://www.meetup.com/sc-code-and-data-science/"><i class="far fa-user"  style = 'font-size:25px;margin-left:-5%;'></i> SC Code</a></li>


			<li style="--i:3;margin-top:4%;font-size:27px;margin-left:24%;"><a href="https://oelkuct-portfolio-85010a89a0a9.herokuapp.com/FSE" ><i class="far fa-heart" style = 'margin-left:-5%;'> </i> Full Stack</a></li>
			<li style="--i:3;margin-top:4%;font-size:27px;margin-left:24%;"><a href="https://oelkuct-portfolio-85010a89a0a9.herokuapp.com/SWE"><i class="far fa-address-book" style = 'margin-left:-5%;'></i> Software</a></li>
			<li style="--i:3;margin-top:4%;font-size:26px;margin-left:24%;"><a href="https://oelkuct-portfolio-85010a89a0a9.herokuapp.com/DS"><i class="far fa-address-book" style = 'margin-left:-5%;'></i> ML + DS</a></li>
		 <li style="--i:3;margin-top:4%;font-size:26px;margin-left:24%;"><a href="https://oelkuct-portfolio-85010a89a0a9.herokuapp.com/WEBDEV"><i class="far fa-address-book" style = 'margin-left:-5%;'></i> Web Dev</a></li>
			<li style="--i:3;margin-top:4%;font-size:27px;margin-left:24%;"><a href="mailto:oelkuctmp@gmail.com"><i class="far fa-comment" style = 'font-size:25px;margin-left:-5%'></i> Email Me</a></li>
			<li style="--i:3;margin-top:4%;font-size:25px;margin-left:24%;"><a href="https://github.com/casualfawn"><i class="far fa-folder" style = 'margin-left:-5%'></i> Publication</a></li>

		</ul class = 'first-ul'>
		</div>

	<div class='wrapper' style = 'height:100%;width:55%;margin-left:20%;'>

		<div class = 'scroll' style =  'margin-left:10%;height:99.5%;margin-top:-4%;width:120%;'>
			<main style = 'margin-left:10%;'>
	<div class='card card-1' onclick='window.location.href="https://iceland-wares-fb84b32be002.herokuapp.com/"'>
		<div class='content' >
			<h5 style = 'margin-left:-8%; margin-top:6%;'>Iceland Wares <br/>Ecommerce</h5>
			<p style = 'width:250px;font-size:18px;margin-left:-2%;margin-top:-9%;width:89%;text-align:center;'>
				E-Commerce site for </br> Icelandic style built with Django.</br> Shop by specific collections.
			</p>
		</div>	
		</a>
	</div>
	<div class='card card-2'  style = "background-image: url('/static/img/webdev2_v2.png');" onclick='window.location.href="https://www.biofactura.com/"'>
		<div class='content'>
			<h5 style = 'margin-left:-8%; margin-top:6%;'>Biofactura <br/>Company Website</h5>
			<p style = 'width:250px;font-size:18px;margin-left:-4%;margin-top:-4%;width:89%;text-align:center;'>
				Website created and mantained for a successful start-up Biotech company
			</p>
		</div>
	</a>
	</div>
	<div class='card card-3' onclick='window.location.href="#"'>
		<div class='content'>
			<h5 style = 'margin-left:-8%; margin-top:6%;'>Spectrum <br/>Events Website</h5>
			<p style = 'width:250px;font-size:18px;margin-left:-2%;margin-top:-9%;width:89%;text-align:center;'>
				With a tight 2day deadline, </br> this site was developed for managing a University's </br> LGBTQ+ event calendar.
			</p>
		</div>
	</a>
	</div>

</div>
		</div>
</main>
</div>





</label>
<div class='objects'>
	<ul class='box'>
		<li></li>
	</ul class = 'box'>
	<ul class='slowbox2'>
		<li></li>
	</ul class = 'slowbox2'>
	<ul class='box2'>
		<li></li>
	</ul class = 'box2'>
	<ul class='box5'>
		<li></li>
	</ul class = 'box5'>
	<ul class='box3'>
		<li></li>
	</ul class = 'box3'>
	<ul class='box4'>
		<li></li>
	</ul class = 'box4'>
</div>
</body>
</html>